# Global settings
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alerting configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Rules configuration
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# Scrape configurations
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  
  - job_name: "ml_service"
    metrics_path: /metrics
    static_configs:
      - targets: ["ml-service:5050"]
  
  - job_name: "nef_emulator"
    metrics_path: /metrics
    static_configs:
      - targets: ["nef-emulator:80"]
