services:

  db:
    image: postgres:${POSTGRES_VERSION:-15}
    command: -c shared_buffers=256MB -c max_connections=200
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    networks:
      - services_default

  mongo_nef:
    image: mongo:${MONGO_VERSION:-6.0}
    volumes:
      - app-mongo-db-data:/data/db
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_PASSWORD}"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - services_default

  backend:
    image: '${DOCKER_IMAGE_BACKEND:-nef-backend}:${TAG:-latest}'
    command: /start-reload.sh
    volumes:
      - ./backend/app:/app
    env_file:
      - .env
    environment:
      - SERVER_NAME=${DOMAIN:-localhost}
      - SERVER_HOST=https://${DOMAIN:-localhost}
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
      args:
        INSTALL_DEV: ${INSTALL_DEV:-true}
        INSTALL_JUPYTER: ${INSTALL_JUPYTER:-true}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    depends_on:
      - db
      - mongo_nef
    networks:
      - services_default

  reverse_proxy:
    build:
      context: nginx
      dockerfile: Dockerfile.nginx
    image: nginx-nef
    restart: unless-stopped
    env_file: .env
    environment:
      APP_ENV: "prod"
      APP_NAME: "webserver"
      APP_DEBUG: "false"
      SERVICE_NAME: "webserver"
    hostname: ${NEF_HOST:-localhost}
    ports:
      - "${NGINX_HTTP:-8080}:80"
      - "${NGINX_HTTPS:-4443}:443"
    volumes:
      - nginxdata:/var/log/nginx
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - backend
    networks:
      - services_default
    command: sh -c '/self-signed-crt.sh && /dynamic_ports.sh'

networks:
  services_default:
    driver: bridge

volumes:
  app-db-data:
  pgadmin-data:
  app-mongo-db-data:
  nginxdata:
